<header class="sans-serif bg-black-90 w-100 ph3 pv3 pv4-ns ph4-m ph5-l">
  <nav class="f6 fw6 ttu tracked">
    <div class="dib">
      <a class="link dim white dib mr3" href="/" title="home">tabeth</a>
      <div class="h1 bg-white"></div>
    </div>
    {{#each collections}}
      {{#notEqual @key 'posts'}}
        <div class="dib">
          <a class="link dim white dib mr3" href="/{{@key}}" title="{{@key}}">{{@key}}</a>
          <div class="h1" style="background-color: {{{lookup ../colors @key}}}"></div>
        </div>
      {{/notEqual}}
    {{/each}}
    <div class="dib">
      <a class="link dim white dib mr3" href="/about" title="about">about</a>
      <div class="h1 bg-white"></div>
    </div>
  </nav>
</header>
