{% extends "./layouts/base.njk" %}
{% block body %}
  <article class="pa3 pa5-ns">
    <h1 class="serif f3 f1-m f-headline-l">Hello!</h1>
    {{ marked()(contents) | safe }}
  </article>
{% endblock %}
