<!doctype html>
<html lang="en">
{% include "./partials/head.njk" %}

<body>
{% include "./partials/header.njk" %}
{% block body %}{% endblock %}
{% include "./partials/scripts.njk" %}
{% include "./partials/footer.njk" %}
</body>
</html>
