{% extends "./layouts/base.njk" %}

{% block body %}
  <section class="sans-serif pa2 pa4-ns">
    <article class="ba bw3 b--black bg-white pa4 center">
      <ul class="list f3 pl0 mt3 mb0">
        {% for post in posts %}
        <li class="tracked-tight pv2 bl2 mb3">
            <a href="{{ post.path }}" class="db link underline-hover black lh-title mw6">
              <span class="fw7 underline-hover">{{ post.title }}</span>
            </a>
            <span style="background-color: {{{lookup ../colors type}}}" class="white f4 tracked-tight">
              {{formatDate date "MM-DD-YYYY"}}
            </span>
          </li>
        {% endfor %}
      </ul>
    </article>
  </section>
{% endblock %}
