---
title: anxious pair
layout: post.njk
type: other
date: 02-06-2019
description: the relation between you and your heart
---

```
heart is tight
it squeezes, such might

breath is light
you gasp, don’t fright

head upright
eyes close, midnight

arms outright
we embrace, unite

together, we recite
we’re alright
alright
```
