---
title: modern distraction
layout: post.njk
description: the distracting blue sun
date: 02-06-2019
type: other
---

```
I am looking
first above
then below

I am tapping
left glide
right slide

Time is passing
tick tock
tick tock
```
